/* TEXT HERO */

.text.hero {
	padding-top: 32px;
	padding-bottom: 64px;}

.text.hero h1{
	margin-bottom: 4px;}

.text.hero h2{
	padding-top: 32px;
	padding-bottom: 32px;}

.text.hero h4{
	padding-right: 250px;}

.text.hero #hero1{
	width: 100%;
	height: auto;
	}



/* TEXT CLIENT */
.text.client #logo1{
	width: 180px;
	height: auto;
	margin-left: -14px;
	padding-bottom:10px;}

.text.client p{
	padding-top: 24px;}


/* TEXT CHALLENGES-TITLE */
.text.challenges-title{
	padding-bottom:0px;}


/* TEXT CHALLENGES */
.text.challenges object#complication {
	height:69px;
	width: auto;}

.text.challenges object#resolution {
	height:58px;
	width: auto;
	margin-left:-4px;}


.text.challenges #right-col{
	padding-top:11px;}



/* TEXT IMG1 */
.text.img1{
	background: url('../assets/case-img1.png') no-repeat center center;
	background-size: 100%;
	min-height: 400px;}

/* TEXT DETAIL1 */
.text.detail1{
	padding-top:72px;
	padding-bottom:72px;}


/* TEXT IMG2 */
.text.img2{
	background: url('../assets/case-img2.png') no-repeat center center;
	background-size: 100%;
	min-height: 600px;}


/* TEXT DETAIL3 */
.text.detail3 h4{
	padding-right:72px;}


/* TEXT IMG3 */
.text.img3{
	background: url('../assets/case-img3.png') no-repeat center center;
	background-size: 70%;
	min-height: 400px;
	padding-top:0px;
	padding-bottom:0px;}


/* TEXT IMG3 */
.text.img4 img{
	width: 100%;
	height: auto;
	text-align: center;
	padding-bottom:64px;}


/* TEXT DETAIL3 */
.text.detail3{
	padding-top:64px;
	padding-bottom:64px;}


/* TEXT DETAIL4 */
.text.detail4{
	padding-top:32px;
	padding-bottom:64px;}


/* TEXT FOOTER */
.text.footerq{
	padding-top:64px;
	padding-bottom:64px;}

.text.footerq hr{
  width:30%;
	margin-top:32px;
	border: 3px solid #FBCF17;}


/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {

		.text.hero h4{
			padding-right: 0px;}

	}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {
		img, iframe, object {
			max-width: 724px;
			height: auto;
			text-align: center;	}

		.text.img2{
			min-height: 500px;}

		.text.img3{
			min-height: 220px;}

		.text.hero h4{
			padding-right: 0px;}

	}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {

		img, iframe, object {
			max-width: 724px;
			height: auto;
			text-align: center;}

		.text.hero h4{
			padding-right: 0px;}

		.text.img1{
			min-height: 300px;}

		.text.img2{
			min-height: 350px;}

		.text.img3{
			min-height: 220px;}
	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 530px) and (max-width: 767px) {

		img, iframe, object {
			max-width: 400px;
			height: auto;}

		.text.img1{
			min-height: 250px;}

		.text.img2{
			min-height: 250px;}

		.text.img3{
			min-height: 180px;}

		.text.hero h4{
			padding-right: 0px;}

	}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 529px) {

		img, iframe, object {
			max-width: 272px;
			height: auto;}

		.text.img1{
			min-height: 150px;}

		.text.img2{
			min-height:180px;}

		.text.img3{
			min-height: 110px;}

		.text.hero h4{
			padding-right: 0px;}



	}
