h3 {
  font: 700 28px/32px 'PT Sans Narrow', Helvetica, Arial, sans-serif;
  color: #FCBF17;
  text-align: left; }

/* TEXT HERO */
.text.hero {
  padding-top: 64px;
  padding-bottom: 64px; }

.text.hero h1 {
  color: #333;
  font-size: 36px;
  line-height: 42px; }

.text.hero li {
  list-style: none;
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  text-wrap: none;
  padding-right: 28px; }

#twitter-item {
  margin-top: -6px; }

.text.hero li svg {
  padding-right: 4px;
  margin-bottom: -2px; }

/* TEXT WORKS TITLE */
.text.works-title {
  padding-top: 64px;
  padding-bottom: 0px; }

.text.works {
  padding-top: 24px;
  padding-bottom: 64px; }

/* TEXT TWITTER  */
.text.tweets h4 {
  padding-bottom: 12px; }

.text.tweets .timeline-Tweet-author {
  font: 700 11px/24px 'PT Sans Narrow', Helvetica, Arial, sans-serif; }

/* TEXT WORKS  */
.text.works > .container .columns img {
  height: 220px;
  width: auto; }

.text.works > .container > .row:nth-of-type(1) > .columns:nth-of-type(1) a {
  position: relative;
  display: block; }
  .text.works > .container > .row:nth-of-type(1) > .columns:nth-of-type(1) a::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 6px);
    padding-top: 32px;
    padding-left: 32px;
    padding-right: 32px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity .5s;
    content: "Pager Mobile Integrated Healthcare On-demand Service and AI Triage Chatbot";
    font: 700 28px/32px 'PT Sans Narrow', Helvetica, Arial, sans-serif;
    color: #FCBF17;
    text-align: left;
    font-size: 36px;
    line-height: 42px; }
  .text.works > .container > .row:nth-of-type(1) > .columns:nth-of-type(1) a:hover {
    cursor: pointer; }
    .text.works > .container > .row:nth-of-type(1) > .columns:nth-of-type(1) a:hover::after {
      opacity: 1;
      transition: opacity 0s; }

.text.works > .container > .row:nth-of-type(1) > .columns:nth-of-type(2) a {
  position: relative;
  display: block; }
  .text.works > .container > .row:nth-of-type(1) > .columns:nth-of-type(2) a::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 6px);
    padding-top: 32px;
    padding-left: 32px;
    padding-right: 32px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity .5s;
    content: "Killer Inc. Paper Goods Supply Company Supplying Expert Tools for Sesigners";
    font: 700 28px/32px 'PT Sans Narrow', Helvetica, Arial, sans-serif;
    color: #FCBF17;
    text-align: left;
    font-size: 36px;
    line-height: 42px; }
  .text.works > .container > .row:nth-of-type(1) > .columns:nth-of-type(2) a:hover {
    cursor: pointer; }
    .text.works > .container > .row:nth-of-type(1) > .columns:nth-of-type(2) a:hover::after {
      opacity: 1;
      transition: opacity 0s; }

.text.works > .container > .row:nth-of-type(2) > .columns:nth-of-type(1) a {
  position: relative;
  display: block; }
  .text.works > .container > .row:nth-of-type(2) > .columns:nth-of-type(1) a::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 6px);
    padding-top: 32px;
    padding-left: 32px;
    padding-right: 32px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity .5s;
    content: "Swiftbank Immersive 6-week Design Consulting Program & User-Validated Rapid Prototype";
    font: 700 28px/32px 'PT Sans Narrow', Helvetica, Arial, sans-serif;
    color: #FCBF17;
    text-align: left;
    font-size: 36px;
    line-height: 42px; }
  .text.works > .container > .row:nth-of-type(2) > .columns:nth-of-type(1) a:hover {
    cursor: pointer; }
    .text.works > .container > .row:nth-of-type(2) > .columns:nth-of-type(1) a:hover::after {
      opacity: 1;
      transition: opacity 0s; }

.text.works > .container > .row:nth-of-type(2) > .columns:nth-of-type(1) img {
  height: 460px;
  width: auto; }

.text.works > .container > .row:nth-of-type(2) > .columns:nth-of-type(2) {
  background: none; }
  .text.works > .container > .row:nth-of-type(2) > .columns:nth-of-type(2) > .row:nth-of-type(1) > .columns:nth-of-type(1) {
    margin-left: 0;
    font-size: 16px;
    line-height: 20px; }
    .text.works > .container > .row:nth-of-type(2) > .columns:nth-of-type(2) > .row:nth-of-type(1) > .columns:nth-of-type(1) a {
      position: relative;
      display: block; }
      .text.works > .container > .row:nth-of-type(2) > .columns:nth-of-type(2) > .row:nth-of-type(1) > .columns:nth-of-type(1) a::after {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: calc(100% - 6px);
        padding-top: 32px;
        padding-left: 32px;
        padding-right: 32px;
        box-sizing: border-box;
        background-color: rgba(0, 0, 0, 0.5);
        opacity: 0;
        transition: opacity .5s;
        content: "Mercury Custom Touchscreen Phone OS";
        font: 700 28px/32px 'PT Sans Narrow', Helvetica, Arial, sans-serif;
        color: #FCBF17;
        text-align: left;
        font-size: 36px;
        line-height: 42px; }
      .text.works > .container > .row:nth-of-type(2) > .columns:nth-of-type(2) > .row:nth-of-type(1) > .columns:nth-of-type(1) a:hover {
        cursor: pointer; }
        .text.works > .container > .row:nth-of-type(2) > .columns:nth-of-type(2) > .row:nth-of-type(1) > .columns:nth-of-type(1) a:hover::after {
          opacity: 1;
          transition: opacity 0s; }
  .text.works > .container > .row:nth-of-type(2) > .columns:nth-of-type(2) > .row:nth-of-type(1) > .columns:nth-of-type(2) {
    margin-right: 0;
    background-color: #FFB837;
    height: 220px;
    opacity: 0.5; }
  .text.works > .container > .row:nth-of-type(2) > .columns:nth-of-type(2) > .row:nth-of-type(2) {
    margin-bottom: 0; }
    .text.works > .container > .row:nth-of-type(2) > .columns:nth-of-type(2) > .row:nth-of-type(2) > .columns {
      margin-left: 0;
      margin-right: 0; }
      .text.works > .container > .row:nth-of-type(2) > .columns:nth-of-type(2) > .row:nth-of-type(2) > .columns a {
        position: relative;
        display: block; }
        .text.works > .container > .row:nth-of-type(2) > .columns:nth-of-type(2) > .row:nth-of-type(2) > .columns a::after {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: calc(100% - 6px);
          padding-top: 32px;
          padding-left: 32px;
          padding-right: 32px;
          box-sizing: border-box;
          background-color: rgba(0, 0, 0, 0.5);
          opacity: 0;
          transition: opacity .5s;
          content: "Amplify Customized Android Tablet Operating System for Teachers and Students";
          font: 700 28px/32px 'PT Sans Narrow', Helvetica, Arial, sans-serif;
          color: #FCBF17;
          text-align: left;
          font-size: 36px;
          line-height: 42px; }
        .text.works > .container > .row:nth-of-type(2) > .columns:nth-of-type(2) > .row:nth-of-type(2) > .columns a:hover {
          cursor: pointer; }
          .text.works > .container > .row:nth-of-type(2) > .columns:nth-of-type(2) > .row:nth-of-type(2) > .columns a:hover::after {
            opacity: 1;
            transition: opacity 0s; }

.text.works > .container > .row:nth-of-type(3) > .columns:nth-of-type(1) {
  background-color: #FFB837;
  height: 220px;
  opacity: 0.2; }

.text.works > .container > .row:nth-of-type(3) > .columns:nth-of-type(2) a {
  position: relative;
  display: block; }
  .text.works > .container > .row:nth-of-type(3) > .columns:nth-of-type(2) a::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 6px);
    padding-top: 32px;
    padding-left: 32px;
    padding-right: 32px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity .5s;
    content: "Project Joy Wealth Management Service";
    font: 700 28px/32px 'PT Sans Narrow', Helvetica, Arial, sans-serif;
    color: #FCBF17;
    text-align: left;
    font-size: 36px;
    line-height: 42px; }
  .text.works > .container > .row:nth-of-type(3) > .columns:nth-of-type(2) a:hover {
    cursor: pointer; }
    .text.works > .container > .row:nth-of-type(3) > .columns:nth-of-type(2) a:hover::after {
      opacity: 1;
      transition: opacity 0s; }

.text.works > .container > .row:nth-of-type(3) > .columns:nth-of-type(3) {
  background-color: #FFB837;
  height: 220px;
  opacity: 0.7; }

.text.works > .container > .row:nth-of-type(3) > .columns:nth-of-type(4) a {
  position: relative;
  display: block; }
  .text.works > .container > .row:nth-of-type(3) > .columns:nth-of-type(4) a::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 6px);
    padding-top: 32px;
    padding-left: 32px;
    padding-right: 32px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity .5s;
    content: "Trade Armor Day Trading Toolset";
    font: 700 28px/32px 'PT Sans Narrow', Helvetica, Arial, sans-serif;
    color: #FCBF17;
    text-align: left;
    font-size: 36px;
    line-height: 42px; }
  .text.works > .container > .row:nth-of-type(3) > .columns:nth-of-type(4) a:hover {
    cursor: pointer; }
    .text.works > .container > .row:nth-of-type(3) > .columns:nth-of-type(4) a:hover::after {
      opacity: 1;
      transition: opacity 0s; }

/* #Media Queries
================================================== */
/* Smaller than standard 960 (devices and browsers) */
/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
  .text.works > .container .columns a:after {
    font-size: 26px !important;
    line-height: 30px !important;
    padding-left: 14px !important;
    padding-top: 18px !important;
    padding-right: 8px !important; }
  .text.works > .container .columns img {
    height: auto;
    width: 100%; }
  .text.works > .container > .row:nth-of-type(2) > .columns:nth-of-type(1) img {
    height: auto;
    width: 100%; }
  .text.works > .container > .row:nth-of-type(2) > .columns:nth-of-type(2) > .row:nth-of-type(1) > .columns:nth-of-type(2) {
    height: 173px; }
  .text.works > .container > .row:nth-of-type(3) > .columns:nth-of-type(1), .text.works > .container > .row:nth-of-type(3) > .columns:nth-of-type(3) {
    height: 173px; } }

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
  .text.works > .container .columns {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0 0 0 0; }
    .text.works > .container .columns a:after {
      font-size: 32px !important;
      line-height: 36px !important;
      padding-left: 14px !important;
      padding-top: 18px !important;
      padding-right: 8px !important; }
    .text.works > .container .columns img {
      height: auto;
      width: 100%; }
  .text.works > .container > .row:nth-of-type(2) > .columns:nth-of-type(1) img {
    height: auto;
    width: 100%; }
  .text.works > .container > .row:nth-of-type(2) > .columns:nth-of-type(2) > .row:nth-of-type(1) > .columns:nth-of-type(2) {
    height: 173px; }
  .text.works > .container > .row:nth-of-type(3) > .columns:nth-of-type(1), .text.works > .container > .row:nth-of-type(3) > .columns:nth-of-type(3) {
    height: 173px; } }

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 530px) and (max-width: 767px) {
  .text.works > .container .columns {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0 0 0 0; }
    .text.works > .container .columns a:after {
      font-size: 32px !important;
      xline-height: 30px !important; }
    .text.works > .container .columns img {
      height: auto;
      width: 100%; }
  .text.works > .container > .row:nth-of-type(2) > .columns:nth-of-type(1) img {
    height: auto;
    width: 100%; }
  .text.works > .container > .row:nth-of-type(2) > .columns:nth-of-type(2) > .row:nth-of-type(1) > .columns:nth-of-type(2) {
    height: 173px; }
  .text.works > .container > .row:nth-of-type(3) > .columns:nth-of-type(1), .text.works > .container > .row:nth-of-type(3) > .columns:nth-of-type(3) {
    height: 173px; } }

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 529px) {
  .text.works > .container .columns {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0 0 0 0; }
    .text.works > .container .columns a:after {
      font-size: 24px !important;
      line-height: 30px !important;
      padding-left: 14px !important;
      padding-top: 18px !important;
      padding-right: 8px !important; }
    .text.works > .container .columns img {
      height: auto;
      width: 100%; }
  .text.works > .container > .row:nth-of-type(2) > .columns:nth-of-type(1) img {
    height: auto;
    width: 100%; }
  .text.works > .container > .row:nth-of-type(2) > .columns:nth-of-type(2) > .row:nth-of-type(1) > .columns:nth-of-type(2) {
    height: 173px; }
  .text.works > .container > .row:nth-of-type(3) > .columns:nth-of-type(1), .text.works > .container > .row:nth-of-type(3) > .columns:nth-of-type(3) {
    height: 173px; } }
